* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.content {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(100% / 4 - 2rem);
  margin: 1rem;
  border: 1px solid black;
}

.card img {
  width: 100%;
}

.card h3 {
  margin: 1rem 0;
}

.menu {
  background-color: cornflowerblue;
  width: 20rem;
  height: 100%;
  z-index: 1;
  position: absolute;
  border-radius: 0 2rem 2rem 0;
  top: 0;
  left: -17%;
}

.menu ul {
  list-style: none;
  margin-left: 2rem;
}

.menu ul li {
  margin: 2rem 0;
}

.menu ul li a {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.open_menu {
  position: absolute;
  top: 2rem;
  right: -3rem;
  background-color: cornflowerblue;
  color: white;
  padding: 2rem 1rem 2rem 2rem;
  border-radius: 0 1rem 1rem 0;
}

.menu:hover {
  -webkit-animation: left-transition 2s forwards;
          animation: left-transition 2s forwards;
}

@-webkit-keyframes left-transition {
  0% {
    left: -17%;
  }

  100% {
    left: 0%;
  }
}

@keyframes left-transition {
  0% {
    left: -17%;
  }

  100% {
    left: 0%;
  }
}

