.content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: calc(100% / 4 - 2rem);
    margin: 1rem;
    border: 1px solid black;

    img {
        width: 100%;
    }

    h3 {
        margin: 1rem 0;
    }
}


.menu {
    background-color: cornflowerblue;
    width: 20rem;
    // height: 100%;
    z-index: 1;
    position: absolute;
    border-radius: 0 2rem 2rem 0;
    top: 0;
    left: -17%;
    box-shadow: 5px 0px 7px lightgrey;

    ul {
        list-style: none;
        margin: 3rem 0 3rem 2rem;

        li {
            margin: 2rem 0;

            a {
                color: white;
                font-size: 2rem;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}

.open_menu {
    position: absolute;
    top: 2rem;
    right: -3rem;
    background-color: cornflowerblue;
    color: white;
    padding: 2rem 1rem 2rem 2rem;
    border-radius: 0 1rem 1rem 0;
}

.menu:hover {
    animation: left-transition 2s forwards;
}

@keyframes left-transition {
    0% {
        left: -17%;
    }

    100% {
        left: 0%;
    }
}
